<h1>7-Day Budget Meal Plan & Shopping List</h1>
<br>
<br>
<h2>SUNDAY: Louisiana Catfish with Okra & Corn</h2>
<p>Budget tip: Studies show that eating seafood twice a week can reduce your risk of heart disease. So make seafood a part of your diet. We always swing by the fish counter to look for specials. Also keep in mind that your best bet may be to buy frozen fish. It's often less expensive, and you can defrost it when you're ready to use it so you know it's fresh.</p>
<br>
<h2>MONDAY: Pork Chops au Poivre</h2>
<p>Budget tip: You can enjoy pork chops, a steak dinner or a lean leg of lamb for less than a takeout meal if you're savvy. At EatingWell, we always keep serving sizes to a healthy 3 ounces of cooked meat—which makes for healthier and more affordable meals.</p>
<br>
<h2>TUESDAY: Cheese-&-Spinach-Stuffed Portobellos</h2>
<p>Budget tip: Going meatless a few times a week is good for your health (you'll be eating less saturated fat), good for your wallet (meat is often the most expensive food on the plate) and good for the environment. You can eat vegetarian and still be satisfied, by including ingredients like rice, eggs, beans and tofu.</p>
<br>
<h2>WEDNESDAY: Sweet-&-Sour Chicken Drumsticks</h2>
<p>Budget tip: Poultry often goes on sale, so when it does, stock up and keep it in your freezer. Also, learn to cook whole chickens, thighs and drumsticks—not just boneless, skinless chicken breast, which tends to be more expensive.</p>
<br>
<h2>THURSDAY: Beef & Cabbage Stir-Fry with Peanut Sauce</h2>
<p>Budget tip: Stir-frying with plenty of vegetables and just a little bit of meat is an obvious choice when you want to make a quick and healthy dinner. It's also very forgiving, so if you have a little extra onion or half a leftover zucchini you want to use up, just throw it in your stir-fry.</p>
<br>
<h2>FRIDAY: Salmon Rösti</h2>
<p>Budget tip: Doctors recommend eating fish or seafood twice a week, especially fish rich in omega-3s, such as salmon and tuna. If you're looking to save money, try budget-friendly canned tuna and canned wild salmon as well as sustainably fished or farmed shrimp, tilapia, catfish and trout.</p>
<br>
<h2>SATURDAY: Black Bean Croquettes with Fresh Salsa</h2>
<p>Budget tip: At about 50¢ or less for a 1/2-cup serving of canned beans, you just can't go wrong. They're packed with fiber and protein. We always keep cans in the cupboard and whip them out to toss with salads, pasta, stir-fries, in soups or for an easy dip. Dried beans are even less expensive than canned. Cook a big batch then freeze extras for when you're ready to use them in a recipe.</p>
